body {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  background-color: #FFFbeb;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blob {
  position: absolute;
  filter: blur(40px);
  z-index: -1;
  opacity: 0.4;
}