@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  background-color: #FFFbeb;
}

.blob {
  position: absolute;
  filter: blur(40px);
  z-index: -1;
  opacity: 0.4;
}